<section id="a-propos" class="content-section noselect">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2  class="title text-center">À Propos</h2>

				<p>La Journée mondiale des télécommunications et de la société de l'information a pour but de contribuer à sensibiliser l'opinion aux perspectives qu'ouvre l'utilisation de l'Internet et des autres technologies de l'information et de la communication (TIC) dans les domaines économique et social, ainsi qu'aux moyens permettant de réduire la fracture numérique.</p>
				<p>Le 17 mai marque l'anniversaire de la signature de la première Convention télégraphique internationale et de la création de l'Union internationale des télécommunications.</p>
				<p>Journée mondiale des télécommunications depuis 1969, la Journée mondiale des télécommunications est célébrée chaque année le 17 mai, marquant la création de l'UIT et la signature de la première Convention télégraphique internationale en 1865. Elle a été instituée par la Conférence de plénipotentiaires réunie à Malaga-Torremolinos en 1973.</p>
				<p>Journée mondiale de la société de l'information en november 2005, le Sommet mondial sur la société de l'information (SMSI) a invité l'Assemblée générale des Nations Unies à déclarer le 17 mai Journée mondiale de la société de l'information pour souligner l'importance des TIC et la diversité des questions liées à la société de l'information soulevées par le SMSI. L'Assemblée générale a adopté, en mars 2006, une résolution (A/RES/60/252) établissant que la Journée mondiale de la société de l'information serait célébrée chaque année le 17 mai.</p>
				<p>Journée mondiale des télécommunications et de la société de l'information en november 2006, la Conférence de plénipotentiaires de l'UIT, réunie à Antalya (Turquie), a décidé que le 17 mai serait dorénavant la Journée mondiale des télécommunications et de la société de l'information. Par sa Résolution 68 EN mise à jour, la Conférence de plénipotentiaires invite les Etats Membres et les Membres des Secteurs à célébrer chaque année cette journée en mettant sur pied des programmes nationaux visant à :</p>
				<ul>
					<li>encourager la réflexion et les échanges d'idées sur le thème adopté par le Conseil;</li>
					<li>débattre avec tous les partenaires de la société des divers aspects du thème;</li>
					<li>élaborer un rapport rendant compte des débats nationaux sur les différents aspects du thème, qui sera communiqué à l'UIT et à l'ensemble des membres.</li>
				</ul>
			</div>
		</div>
	</div>
</section>