<section id="contact" class="content-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h2 class="text-center title">
					Contact us <br>
					<small><small>
						<a class="light" href="mailto:info@forumtelecomhaiti.com">
							<i class="fa fa-envelope"></i> info@loveandhopehaiti.org
						</a> <br>

						<a href="tel:+50937349392">
							<i class="fa fa-phone"></i> (509) 3647 8199
						</a>
					</small>
					</small>
				</h2>
			</div>
		</div>
	</div>
</section>