<section id="evenement" class="content-section text-center noselect bg-blue">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2 class="title">L'Événement</h2>

				<p>Forum Telecom Haïti, se déroulera pendant deux (2) jours, le 17 Mai de 10:00 AM à 5:00 PM à l’Hôtel Royal Oasis sous le Thème Mondiale de L’Union Internationale De Télécommunications (UIT):</p>

				<p><strong>« Les Méga données pour un MEGA IMPACT »</strong></p>

				<p>C&#39;est un rendez-vous incontournable qui permettra aux jeunes entrepreneurs des NTIC d’avoir les informations nécessaires du milieu et qui les permettra de saisir les différentes opportunités offertes par ce secteur. Deux journées où les participants (étudiants, les futurs entrepreneurs des TIC, Les Medias, les régulateurs, Les operateurs, les décideurs et d’autres institutions des Télécoms) vont s’échanger aux besoins de leur secteur et de la population haïtienne.</p>

				<p>Tenant compte du fait que plus de la moitié de la population haïtienne, soit 6 à 7 millions, utilise les réseaux de télécommunications (Radio, télévision, téléphone mobile, Internet, réseaux sociaux), cet événement compte attirer beaucoup de gens d&#39;ici et d&#39;ailleurs, et aura un important impact positif dans le secteur des télécommunications relativement au développement socio-économique du pays.</p>

				<p>Environ 30 institutions sont attendues à cette 1 ère édition de FORUM TELECOM HAITI où il est prévu la tenue de plusieurs conférences, débats et expositions à l’Hôtel Royal Oasis le 17 Mai de 10:00 AM à 5:00 PM.</p>
			</div>
		</div>
	</div>
</section>