<section id="objectif" class="content-section text-center bg-red noselect">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2 class="title">OBJECTIF</h2>

				<p>Forum Telecom Haïti a pour objectif principal de:</p>

				<p><strong><em>Sensibiliser et réunir les différents acteurs et spécialistes du secteur des

télécommunications, pour faire un panorama des questions liées au développement des

réseaux et des services de l&#39;écosystème numérique, et sur l&#39;impact social des NTIC en

Haïti.</em></strong></p>

				<p>« L&#39;entreprenariat dans le secteur des TIC au service du progrès social ».</p>

				<p>Les objectifs secondaires de cette initiative est de:</p>
				<ul class="text-left">
					<li>Mieux faire comprendre les possibilités que l&#39;utilisation de la radio, la télévision, la

téléphonie mobile, l&#39;Internet et des autres technologies de l&#39;information et de la

communication (TIC) peut offrir à la société haïtienne dans la lutte contre le chômage,

l’insécurité, certains problèmes de l’éducation, de l’administration publique et autre.</li>
					<li>Sensibiliser les différents acteurs sur le développement et l’amélioration de l’économie

numérique en Haïti en apportant de nouveaux services et de nouvelle collaboration dans

les secteurs des télécommunications.</li>
					<li>Permettre aux dirigeants du pays et aux entreprises d’offrir leurs points de vue

personnels et leurs puissants aperçus sur les orientations futures dans le secteur des

Télécommunications en Haïti.</li>
					<li>Sensibiliser les instances étatiques concernées à travers un plaidoyer sur l’utilisation

des NTIC (L’administration électronique) pour une meilleure performance de l’Etat.</li>
					<li>Activer et consolider le partenariat entre les décideurs et les entreprises des

télécommunications en Haïti en faveur du développement Social.</li>
				</ul>
				<br><br>
			</div>
		</div>
	</div>
</section>