<div class="item {% if forloop.index == 1 %} {{ 'active'}} {% endif %}">
	<img src="/assets/images/slider/0{{forloop.index}}.jpg">
	<!-- <div class="container">
		<div class="carousel-caption">
			<h1>Example headline.</h1>
			<p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
			<p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
		</div>
	</div> -->
</div>